@inherits LayoutComponentBase
<style>
    html{
        scroll-behavior: smooth;
    }

    .hover-primary:hover {
        color: var(--mud-palette-primary) !important;
    }
</style>

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" class="d-none d-sm-flex">
        <MudStack Justify="Justify.SpaceAround" Row="true" Style="width: 100%; align-items: center;">
            <MudLink Color="Color.Inherit" Underline="Underline.None" Class="ml-6 hover-primary" Style="font-size: 16px; width: 25%; text-align: center;" Href="#menu">Menú</MudLink>
            <MudLink Color="Color.Inherit" Underline="Underline.None" Class="ml-6 hover-primary" Style="font-size: 16px; width: 25%; text-align: center;" Href="#delights">Nuestras delicias</MudLink>
            <MudLink Href="#" Style="display: flex; align-center: center; width: 25%; justify-content: center;">
                <MudImage Src="logo.svg" Alt="Logo" Class="mx-3 rounded-lg" Style="height: 50px;"/>
            </MudLink>
            <MudLink Color="Color.Inherit" Underline="Underline.None" Class="ml-6 hover-primary" Style="font-size: 16px; width: 25%; text-align: center;" Href="#order">Hacenos tu pedido</MudLink>
            <MudLink Color="Color.Inherit" Underline="Underline.None" Class="ml-6 hover-primary" Style="font-size: 16px; width: 25%; text-align: center;" Href="#footer">Contactanos</MudLink>
        </MudStack>
    </MudAppBar>
    
    <MudAppBar Elevation="0" class="d-flex d-sm-none">
        <MudLink Href="#" Style="display: flex; align-center: center; width: 25%; justify-content: center;">
            <MudImage Src="logo.svg" Alt="Logo" Class="mx-3 rounded-lg" Style="height: 50px;"/>
        </MudLink>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6" Class="retroSignature" style="font-size: 48px;">Esquina canela</MudText>
        </MudDrawerHeader>
        <MudNavMenu Color="Color.Primary">
            <MudNavLink Href="#menu" Icon="@Icons.Material.Filled.RestaurantMenu">Menú</MudNavLink>
            <MudNavLink Href="#delights" Icon="@Icons.Material.Filled.Coffee">Nuestras delicias</MudNavLink>
            <MudNavLink Href="#order" Icon="@Icons.Material.Filled.Phone">Hacenos tu pedido</MudNavLink>
            <MudNavLink Href="#footer" Icon="@Icons.Material.Filled.LocationOn">Contactanos</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Style="padding: 0; padding-top: 64px;">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = false;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = "#4aa6b1",
                AppbarText = "#FFF",
                AppbarBackground = "#000a",
                TextPrimary = "#1e1e2d",
                Surface = "#1e1e2d",
            },
            LayoutProperties = new LayoutProperties(),
            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] { "BourtonBaseDrop", "Montserrat", "Poppins", "Helvetica", "Arial", "sans-serif" }
                }
            }
        };
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#4aa6b1",
        Black = "#101515",
        AppbarText = "#101515",
        AppbarBackground = "#daedef",//"rgba(255,255,255,0.95)",
        DrawerBackground = "#ffffff",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
        Surface = "#1e1e2d",
    };

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#4aa6b1",
        Surface = "#1e1e2d",
        Background = "#1a1a27",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "rgba(26,26,39,0.95)",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#b2b0bf",
        TextSecondary = "#92929f",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ffb545",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80",
    };

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Filled.LightMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}


